<ion-view view-title="Notifications">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>



  </ion-content>
</ion-view>


<!--<ion-view title="Home">-->
<!--<ion-content class="padding">-->
<!--<div class="list card">-->
<!--<div class="item item-divider">Upcoming</div>-->
<!--<div class="item item-body">-->
<!--<div>-->
<!--You have <b>29</b> meetings on your calendar tomorrow.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</ion-content>-->
<!--</ion-view>-->
