<ion-view view-title="Statistics">
  <ion-content>

    <div ng-controller="GraphCtrl" class="container">

      <!-- select week or month-S-->
      <div class="page-header">
        <h5 class="text-center"><b>
          <select>
            <option selected>PAST WEEK</option>
            <option>PAST MONTH</option>
          </select></b></h5>
      </div>

      <!-- try bootstrap dropdown-->

      <canvas id="daily" class="chart chart-line chart-xl" data="data" labels="labels" chart-series="series" chart-legend="true" options="options"></canvas>

      <div class="page-header">
        <h5 class="text-center"><b>MONTHLY USAGE</b></h5>
      </div>

      <canvas id="monthly" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-legend="true" chart-click="onClick"></canvas>

    </div>

  </ion-content>
</ion-view>
