<ion-view view-title="Statistics">
  <ion-content>

    <div ng-controller="LineCtrl" class="container">

      <!-- select week or month-S-->
      <div class="page-header">
        <h5 class="text-center"><b>
          <select>
            <option selected>PAST WEEK</option>
            <option>PAST MONTH</option>
          </select></b></h5>
      </div>

      <!-- try bootstrap dropdown-->

      <canvas id="ticks" class="chart chart-line chart-xl" data="data" options="options" labels="labels"></canvas>

      <div class="page-header">
        <h5 class="text-center"><b>MONTHLY USAGE</b></h5>
      </div>
      <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>

    </div>

    <!--<ion-list>-->
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
        <!--<img ng-src="{{chat.face}}">-->
        <!--<h2>{{chat.name}}</h2>-->
        <!--<p>{{chat.lastText}}</p>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
