<ion-view view-title="Home">
  <ion-content class="padding">

    <div class="page-header">
      <h5 class="text-center"><b>REMAINING</b></h5>

    </div>

    <div class="row" ng-controller="progressBar">
      <button class="button button-small button-assertive" ng-click="countUnits();">
        plus +
      </button>
      <div class="col col-33">
        <div class="card">
          <div class="item item-divider text-center">Days :</div>
          <div class="item item-body text-center">
            <div>
              <b>{{remainingDays}}</b>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-33">
        <div class="card">
          <div class="item item-divider text-center">Quota :</div>
          <div class="item item-body text-center">
            <div>
              <b>Rs.{{input.AmountPM}}</b>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-33">
        <div class="card">
          <div class="item item-divider text-center">Per day :</div>
          <div class="item item-body text-center">
            <div>
              <b>Rs.{{input.AmountPM/remainingDays}}</b>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- progressbar added by shanika-->
    <div ng-controller="progressBar" class="container">

      <div class="page-header">
        <h5 class="text-center"><b>BILLING USAGE</b></h5>
      </div>

      <label class="row text-center">
        <div class="col col-33">This month usage :</div><div class="col col-33">{{input.count}} units of {{DesiredUnits}}</div><div class="col col-33">Rs.250.00 of Rs.{{input.AmountPM}}</div>
      </label>

      <progressbar class="progress-striped active" animate="true" max="100" value="input.count" type="success">
        <i><span count-to="{{input.count}}" duration="1" count-from="{{countFrom}}"></span>%</i>
      </progressbar>
    </div>

    <div class="container">
      <ul class="list">
        <li class="item">Ideal Usage
          <span class="badge badge-balanced">25 units</span>
        </li>
        <li class="item">Usage Status
          <span class="badge badge-balanced">20 units less than ideal</span>
        </li>
        <li class="item">Today usage
          <span class="badge badge-balanced">5 units</span>
        </li>
        <li class="item">This week usage
          <span class="badge badge-balanced">15 units</span>
        </li>
        <li class="item">Current billing period
          <span class="badge badge-balanced">put period from variable</span>
        </li>
        <li class="item">Today date
          <span class="badge badge-positive">{{Tdate}}</span>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>


