<ion-view view-title="Settings">
  <ion-content class="padding">
    <ul class="list">
      <li class="item">
        <div class="row">
          <div class="col col-50">
            <label> Set Units per month:</label>
          </div>
          <div class="col col-50">
            <label class="item item-input">
              <input type="number" placeholder="Units" ng-model="units">
            </label>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col col-50">
            <label> Set Monthly amount:</label>
          </div>
          <div class="col col-50">
            <label class="item item-input">
              <input type="number" placeholder="{{input.AmountPM}}" ng-model="input.AmountPM">

            </label>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col col-50">
            <label> Set Month Start Date:</label>
          </div>
          <div class="col col-50">

            <ionic-datepicker input-obj="datepickerObject">
              <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
            </ionic-datepicker>

          </div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col col-50">
            <label> Set Notification Method:</label>
          </div>
          <div class="col col-50">
            <label class="item item-select">
              <select style="max-width: 100%;padding-left: 0%; padding-right: 60%">
                <option>Method 1</option>
                <option selected>Method 2</option>
                <option>Method 3</option>
              </select>
            </label>
          </div>
        </div>
      </li>

    </ul>

  </ion-content>
</ion-view>
