<ion-view view-title="Home">
  <ion-content class="padding">

    <div class="list">

      <div class="item item-divider">
        <h5 class="text-center"><b>REMAINING</b></h5>
      </div>
    </div>

    <div class="row">
      <div class="col col-33">
        <div class="card">
          <div class="item item-divider text-center">Days :</div>
          <div class="item item-body text-center">
            <div>
              <b>30</b>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card">
          <div class="item item-divider text-center">Quota :</div>
          <div class="item item-body text-center">
            <div>
              <b>Rs.1500</b>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card">
          <div class="item item-divider text-center">Per day :</div>
          <div class="item item-body text-center">
            <div>
              <b>Rs.50</b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- progressbar added by shanika-->
    <div ng-controller="progressBar" class="container">

      <div class="page-header">
        <h5 class="text-center"><b>BILLING USAGE</b></h5>
      </div>

      <label class="row text-center">
        <div class="col col-33">This month usage :</div><div class="col col-33">25 units of 100</div><div class="col col-33">Rs.250.00 of Rs.1000.00</div>
      </label>

      <progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
        <i><span count-to="{{countTo}}" duration="1" count-from="{{countFrom}}"></span>%</i>
      </progressbar>
    </div>

    <div class="container">
      <ul class="list">
        <li class="item">Ideal Usage
          <span class="badge badge-balanced">25 units</span>
        </li>
        <li class="item">Usage Status
          <span class="badge badge-balanced">20 units less than ideal</span>
        </li>
        <li class="item">Today usage
          <span class="badge badge-balanced">5 units</span>
        </li>
        <li class="item">This week usage
          <span class="badge badge-balanced">15 units</span>
        </li>
        <li class="item">Current billing period
          <span class="badge badge-balanced">put period from variable</span>
        </li>
        <li class="item">Today date
          <span class="badge badge-positive">date</span>
        </li>
      </ul>
    </div>

    <!--<div ng-app="myApp" ng-controller="progressBar" class="container">-->

      <!--<div class="page-header">-->
        <!--<h1><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/angular-logo.svg" alt="Angular.js Logo" width="50" height="50" /> Angular UI <small>Progress Bar</small></h1>-->
      <!--</div>-->

      <!--<progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success"><i><span count-to="{{countTo}}" duration="1" count-from="{{countFrom}}"></span> / 100</i></progressbar>-->
  </ion-content>
</ion-view>

<!--<ion-view title="Home">-->
  <!--<ion-content class="padding">-->
    <!--<div class="list card">-->
      <!--<div class="item item-divider">Upcoming</div>-->
      <!--<div class="item item-body">-->
        <!--<div>-->
          <!--You have <b>29</b> meetings on your calendar tomorrow.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</ion-content>-->
<!--</ion-view>-->
