<ion-view view-title="Notifications" ng-controller="NotfiCtrl">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="Noti in Notifications"><i class="ion-alert-circled"></i>
        {{Noti.Title}}
      </ion-item>
    </ion-list>



  </ion-content>
</ion-view>


<!--<ion-view title="Home">-->
<!--<ion-content class="padding">-->
<!--<div class="list card">-->
<!--<div class="item item-divider">Upcoming</div>-->
<!--<div class="item item-body">-->
<!--<div>-->
<!--You have <b>29</b> meetings on your calendar tomorrow.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</ion-content>-->
<!--</ion-view>-->
